{% assign letterstring = "a,b,c,d,e,f,g,h,i,j,k,l,m,n" %}
{% assign letters = letterstring | split: ',' %}
{% assign images = site.data.carousel.[include.page][include.id] %}


<div class="carousel__holder carousel__holder__{{include.id}}">
  <div class="carousel">
    {% for item in images %}
      <input class="carousel__activator" type="radio" name="carousel__{{include.id}}" id="{{ letters[forloop.index0] | append: include.id }}" {% if forloop.first %}checked="checked"{% endif %} />
    {% endfor %}
    {% for item in images %}
      {% if forloop.index == forloop.length %}
        {% assign nextindex = 0 %}
      {% else %}
        {% assign nextindex = forloop.index0 | plus: 1 %}
      {% endif %}
      {% assign nextletter = letters[nextindex] %}
      {% if forloop.index0 == 0 %}
        {% assign previndex = forloop.length | minus: 1 %}
      {% else %}
        {% assign previndex = forloop.index0 | minus: 1 %}
      {% endif %}
      {% assign prevletter = letters[previndex] %}
      <div class="carousel__controls {{include.id}}">
        <label class="carousel__control carousel__control--backward" for="{{ prevletter | append: include.id }}">&lsaquo;</label>
        <label class="carousel__control carousel__control--forward" for="{{ nextletter | append: include.id }}">&rsaquo;</label>
      </div>
    {% endfor %}
    <div class="carousel__track">
      <ul>
        {% for item in images %}
        <li class="carousel__slide" style="background-image: url('{{ item.image }}');"></li>
        {% endfor %}
      </ul>
    </div>
    <div class="carousel__indicators {{include.id}}">
      {% for item in images %}
        <label class="carousel__indicator" for="{{ letters[forloop.index0] | append: include.id }}"></label>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  {% for item in images %}
    .carousel__activator:nth-of-type({{ forloop.index }}):checked ~ .carousel__track {
      -webkit-transform: translateX(-{{ forloop.index0 }}00%);
              transform: translateX(-{{ forloop.index0 }}00%);
    }
    .carousel__activator:nth-of-type({{ forloop.index }}):checked ~ .carousel__slide:nth-of-type({{ forloop.index }}) {
      transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, transform 0.5s;
      transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
      top: 0;
      left: 0;
      right: 0;
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    .carousel__activator:nth-of-type({{ forloop.index }}):checked ~ .carousel__controls.{{ include.id }}:nth-of-type({{ forloop.index }}) {
      display: block;
      opacity: 1;
    }
    .carousel__activator:nth-of-type({{ forloop.index }}):checked ~ .carousel__indicators.{{ include.id }} .carousel__indicator:nth-of-type({{ forloop.index }}) {
      opacity: 1;
    }
  {% endfor %}
  {% for item in images %}
    .carousel__track .carousel__slide:nth-of-type({{ forloop.index }}) {
      -webkit-transform: translateX({{ forloop.index0 }}00%);
              transform: translateX({{ forloop.index0 }}00%);
    }
  {% endfor %}
</style>