<meta content="{% t site.name %}" property="og:site_name">
<meta content={{site.languagesHash[site.lang]["locale"]}} property="og:locale">
{% if page.title %}
  <meta content="{% t page.title %}" property="og:title">
{% else %}
  <meta content="{% t site.name %}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.excerpt %}
  <meta content="{% t page.excerpt %}" property="og:description">
{% else %}
  <meta content="{% t site.description %}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.baseurl }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.image %}
  <meta content="{{ site.baseurl }}/{{ page.image }}" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}