.carousel__holder {
  width: 100%;
  position: relative;
  padding-bottom: 45%;
  margin: 1rem 0 1rem;

  &__facade {
    padding-bottom: 55%;
  }
}
.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  padding: 0;
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__control {
  z-index: 3;
  position: absolute;
  top: 50%;
  margin-top: -47px;
  cursor: pointer;
  opacity: 1;
  outline: 0;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 5px black;

  &:hover {
    opacity: 1;
  }

  &--backward {
    left: 20px;
  }

  &--forward {
    right: 20px;
  }
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
  background-color: #fafafa;

  &:hover {
    opacity: 0.75;
  }
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;

  .carousel__slide {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
  }
}
.carousel--scale .carousel__slide {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  .overlay {
    height: 100%;
  }
}
.carousel--thumb .carousel__indicator {
  height: 30px;
  width: 30px;
}
