#lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999999;
  line-height: 0;
  cursor: pointer;
  display: none;

  &,
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .img {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

    img {
      opacity: 0;
      pointer-events: none;
      width: auto;
    }
  }

  span {
    display: block;
    position: fixed;
    bottom: 13px;
    height: 1.5em;
    line-height: 1.4em;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  #prev,
  #next {
    height: 50px;
    line-height: 36px;
    display: none;
    margin-top: -25px;
    position: fixed;
    top: 50%;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
    color: white;
    font-size: 60px;
  }
  &.gallery #prev,
  &.gallery #next {
    display: block;
    text-shadow: 0 0 5px black;
  }
  #prev {
    left: 0;
  }
  #next {
    right: 0;
  }
  #close {
    z-index: 99;
    position: fixed;
    right: 1rem;
    top: 1.5rem;
    color: white;
    text-shadow: 0 0 4px black;
    font-size: 50px;
  }
}

@media screen and (min-width: 1200px) {
  #lightbox .img {
    max-width: 1200px;
  }
}
@media screen and (min-height: 1200px) {
  #lightbox .img {
    max-height: 1200px;
  }
}
