body.index-page {
  background-image: url(../images/svitkazky-house.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
}
@media (min-width: 1600px) {
  body.index-page {
    background-size: contain;
  }
}

b,
strong {
  font-weight: 500;
}

.article-post a:focus {
  text-decoration: none;
}

.gdocs-iframe {
  width: 100%;
  min-height: 100vh;
}