body {
  display: flex;
  min-height: 100vh;
}
.site-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container {
  flex-grow: 1;
}
.footer {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff87d;

  a {
    color: #111;

    &:hover {
      color: #111;
      text-decoration: underline;
    }
  }
}

.footer-widget {
  margin-bottom: 0;

  h5.title {
    color:#171e27;
    font-weight: 600;
  }
}

.copyright {
  text-align: right;
  padding: 0 1.5rem 0 0;
}