/// Top Navigation

@media (min-width: 992px) {
  .mediumnavigation .dropdown-menu {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  }
}

.dropdown-item {
  border-bottom: 1px solid #eeeeee;
}

.donate-highlight-link {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.94em;
  background: #6fd350;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;

  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}
