---
layout: page
---

<section>
  {{content}}

  <address>
    {% t contact.address.country %}<br>
    {% t contact.address.city %}<br>
    {% t contact.address.street %}<br>
    04053
  </address>

  <p>
    <b>{% t contact.cvo %}</b><br>
    <a href="https://www.facebook.com/kofman.rivil" target="_blank">https://www.facebook.com/kofman.rivil</a><br>
    +380 67 340 18 33
  </p>
</section>
<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1952531783013!2d30.499641016156218!3d50.45608867947612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce671b36fb13%3A0xd83992ce2921ce9a!2z0JHQniDQnNCR0KQgItCh0LjQu9GM0L3RliDQlNGD0YXQvtC8Ig!5e0!3m2!1suk!2sua!4v1581099617585!5m2!1suk!2sua"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
  </iframe>
</section>