{% if page.layout == "post" %}
{% assign isPost = true %}
{% else %}
{% assign isPost = false %}
{% endif %}

{% assign WFPHref = "https://secure.wayforpay.com/button/b594e44fbc5f0?lang=" | append: site.lang %}
<!DOCTYPE html>
<html lang={{site.lang}}>

<head>
  {% if jekyll.environment == 'production' %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140221102-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-140221102-1');
  </script>
  {% endif %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content='{% t site.description %}' />
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" />
  <title>
    {%- if isPost -%}
    {{page.title}}
    {%- else -%}
    {% t page.title %}
    {%- endif -%}
    {% if page.title %} | {% endif %}
    {% t site.name %}
  </title>

  {% include opengraph.html %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,500" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/rvl.css" rel="stylesheet" />
</head>

{% capture layout %}
{% if page.layout %}
layout-{{page.layout}}
{% endif %}
{% endcapture %}

<body class="{{ layout | strip }} {{page.classname}}">
  <!-- Begin Menu Navigation
================================================== -->
  <header class="navbar navbar-expand-md navbar-toggleable-md navbar-light fixed-top mediumnavigation">
    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{% t site.name %}" />
    </a>
    <!-- End Logo -->

    <a class="donate-highlight-link text-decoration-none d-md-none" href={{WFPHref}}>{% t pages.donate %}</a>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow"
      aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Begin Menu -->
    <div class="collapse navbar-collapse mt-3 mt-md-0" id="navbarsWow">
      <!-- Begin Menu -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{%t nav.project %}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            {% for link in site.translations[site.lang]["pages"]["project"] %}
            <a class="dropdown-item" href="{{ site.baseurl }}/{{link[0]}}">
              {{link[1]}}
            </a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{%t nav.accounting %}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            {% for link in site.translations[site.lang]["pages"]["accounting"] %}
            <a class="dropdown-item" href="{{ site.baseurl }}/{{link[0]}}">
              {{link[1]}}
            </a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/history">{% t pages.history %}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact">{% t pages.contact %}</a>
        </li>

        <li class="nav-item mx-md-4 d-none d-md-inline">
          <a class="nav-link highlight" href={{WFPHref}}>{% t pages.donate %}</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">{{ site.languagesHash[site.lang]["name"] }}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
          {% for lang in site.languagesHash %}
          {% if lang[0] == site.lang %} {% continue %} {% endif %}
          {% if lang[0] == 'uk' %}
          <a class="dropdown-item" href="{{ site.baseurl_root }}/">{{ lang[1]["name"] }}</a>
          {% else %}
          <a class="dropdown-item" href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1]["name"] }}</a>
          {% endif %}
          {% endfor %}
        </li>
      </ul>
      <!-- End Menu -->
    </div>
  </header>

  <!-- End Menu Navigation
================================================== -->

  <div class="site-content">
    <div class="container">
      <!-- Content
    ================================================== -->
      <div class="main-content">
        {{ content }}
      </div>
    </div>

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="footer-widget">
              <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/images/svitkazky-footer-logo.png" alt="{% t site.name %}" />
              </a>
            </div>
          </div>
          <div class="offset-sm-1 col-sm-3">
            <div class="footer-widget">
              <h5 class="title">{% t site.name %}</h5>
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/history">{% t pages.history %}</a>
                </li>
                <li>
                  <a target="_blank" href={{WFPHref}}>{% t pages.donate %}</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/contact">{%t pages.contact %}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="footer-widget">
              <h5 class="title">{% t nav.project %}</h5>
              <ul>
                {% for link in site.translations[site.lang]["pages"]["project"] %}
                <li>
                  <a href="{{ site.baseurl }}/{{link[0]}}">{{link[1]}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="footer-widget">
              <h5 class="title">{% t nav.accounting %}</h5>
              <ul>
                {% for link in site.translations[site.lang]["pages"]["accounting"] %}
                <li>
                  <a href="{{ site.baseurl }}/{{link[0]}}">{{link[1]}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <p class="copyright">
        {% t site.name %} © {{ site.time | date: '%Y' }}
      </p>
    </footer>
    <!-- End Footer
    ================================================== -->
  </div>

  <!-- JavaScript
================================================== -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
  <script src="{{ site.baseurl }}/assets/js/lightbox.js"></script>
</body>

</html>